html {
	height: auto;
	width: auto;
}

body {
    background: linear-gradient(to top right, #E62837, #5225E8);
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    text-align: center;
}

header {
	margin-top: 30px;
}
.page-title {
  padding-top: 50px;
}
.menu {
	width: 100%;
	position: relative;
	display: block;
	margin-left: 75%;
	box-sizing: border-box;
}

.menu li {
  list-style: none;
  float: left;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 100px;
  margin-right: 20px;
}
.menu li:hover {
  list-style: none;
  float: left;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  margin-right: 20px;
}

.menu a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 2px 30px;
  font-size: 13px;
}

.menu a:hover {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 2px 30px;
  font-size: 13px;
}

.fix {
  clear: both;
}

.container:before,
.container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

h1 {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	color: #fff;
	opacity: 0.7;
	font-weight: 100;
}

.padding-bottom-top {
	padding-top: 50px;
}

.no-text-deco {
  text-decoration: none;
  list-style-type: none;
}

h4 {
  color: #FFEC07;
  font-weight: 300;
  font-size: 16px;
}

.record-title{
  margin-bottom: -20px;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}



.sizing {
  width:70%;
  height: auto;
  z-index: 2;
}

.sizing:hover{
  animation-name: rotation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.daily-record {
  position: relative;

}

.daily-record img{
  position: absolute;
}

.record-descr h2{
  position: relative;
  box-sizing: border-box;
  left: 0px;
  top: -100px;
  color: #FFEC07;
  z-index: 4;
}

.record {
  margin-top: 50%;
  margin-bottom: auto;
}

@keyframes pump {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

.record:hover{
  animation-name: pump;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  top: 50%;
 
}

.float-right {
  float: right;
}

.float-left{
  float: left;
}

.fix {
  clear: both;
}

.float-left:before,
.float-left:after {
  content: "";
  display: table;
}

.float-left:after {
  clear: both;
}

.tasks-area .material-icons {
  position: relative;
  color: #fff;
  opacity: 0.5;
  z-index: 3;
}

.tasks-area .material-icons:hover {
  color: #fff;
  opacity: 1;
  cursor: pointer;
  font-size: 200%;
  z-index: 3;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2)
}


.left-position{
  top: 50%;
  left: 50px;
}

.right-position{
  top: 50%;
  right: 50px;
}

.tasks-item {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 100px;
  height: 350px;
  width: 300px;
  padding-top: 25%;
  box-sizing: border-box;
  visibility: hidden;
  display: none;
 
}

.tasks-item h1{
  color: #2C2C2C;
  font-size: 28px;
}

.tasks-item .btn {
  position: absolute;
  border: 1px solid #E62837;
  border-radius: 100px;
  color: #E62837;
  padding: 4px 25px;
  bottom: 0px;
  right: 40%;
}

.tasks-item .btn:hover {
  border: 1px solid #4BF56A;
  border-radius: 100px;
  color: #fff;
  background-color: #4BF56A;
  padding: 4px 25px;
}

.tasks {
  padding: 0px;
  position: relative;
}

.tasks :nth-last-child(1) {
  visibility: visible;
  box-sizing: border-box;
  display: inline-block;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

form{
  margin-left: auto;
  margin-right: auto;
}

.input-field {
  display: block;
  width: 50vw;
  background: transparent;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  color: #fff;
}

.input-field:focus {
 outline: none;
 border-bottom: 1.5px solid rgba(255, 255, 255, 1);
}

::-webkit-input-placeholder { 
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}
::-moz-placeholder { 
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}
:-ms-input-placeholder {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}
:-moz-placeholder { 
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

.btn-add {
  margin: 30px auto;
  padding: 10px;
  border: 2px solid #FFEC07;
  background: transparent;
  border-radius: 50%;
  color: #FFEC07;
  font-size: 200%;
}

.btn-add:hover {
  margin: 30px auto;
  padding: 10px;
  border: 2px solid #FFEC07;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #FFEC07;
  font-size: 250%;
  cursor: pointer;
}

footer {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 100%;
}

footer p {
  font-size: 80%;
  padding-top: 50px;
}

.space {
  padding-right: 30px;
  padding-left: 30px;
}
